*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    height: 100vh;
    gap: 5px;
    
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 'a a a'
    'b c c'
    'b d  e'
    'f f f';

}
.item{
    padding: 10px;
    font-size: 1.5rem;
    
    text-align: center;
    
}
.item-1{
    grid-area: a;
    background:linear-gradient(blue,white);
}
.item-2{
    grid-area: b;
    background:linear-gradient(red,white);
}.item-3{
    grid-area: c;
    background:linear-gradient(orange,white);
}.item-4{
    grid-area:d ;
    background:linear-gradient(green,white);
}.item-5{
    grid-area: e;
    background:linear-gradient(aqua,white);
}.item-6{
    grid-area: f;
    background:linear-gradient(grey,white);
}
@media screen and (max-width: 600px){
    .grid-container{
        grid-template-columns: repeat(2,1fr);
    grid-template-areas: 'a b '
    'c d'
    'e f'
    'g h';

    }
    
}
@media screen and (width <= 480px){
    .grid-container{
        grid-template-columns: repeat(1fr);
    grid-template-areas: 'a '
    'b '
    'c '
    'd'
    'e '
    'f'
    'g'
    ' h';

    }
    
}