*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    height: 100vh;
    gap: 5px;
    
    grid-template-columns: repeat(6,1fr);
    grid-template-areas:'e a a a c c'
    'f a a a d d'
    'g i b b k l'
    'h j b b m n' ;

}
.item{
    padding: 10px;
    font-size: 1.5rem;
    
    text-align: center;
    
}
.item-1{
    grid-area: a;
    background-color:khaki;
}
.item-2{
    grid-area: b;
    background-color:navy;
}.item-3{
    grid-area: c;
    background-color:violet;
}.item-4{
    grid-area:d ;
    background-color:seagreen;
}.item-5{
    grid-area: e;
    background-color:aqua;
}.item-6{
    grid-area: f;
    background-color:saddlebrown;
}.item-7{
    grid-area: g;
    background-color:dodgerblue;
}.item-8{
    grid-area: h;
    background-color:bisque;
}
.item-9{
    grid-area: i;
    background-color:hotpink;
}
.item-10{
    grid-area: j;
    background-color:greenyellow;
}
.item-11{
    grid-area: k;
    background-color:lightgreen;
}
.item-12{
    grid-area: l;
    background-color:lightcyan;
}
.item-13{
    grid-area: m;
    background-color:lightslategray;
}
.item-14{
    grid-area: n;
    background-color:lightcoral;
}


@media screen and (max-width: 600px){
    .grid-container{
        grid-template-columns: repeat(2,1fr);
    grid-template-areas:'a b '
    'c d'
    'e f'
    'g h'
    'i j'
    'k l'
    'm n'; 

    }
    
}
@media screen and (max-width: 200px){
    .grid-container{
        grid-template-columns: repeat(1fr);
    grid-template-areas: 'a '
    'b '
    'c '
    'd'
    'e'
    ' f'
    'g'
    ' h'
    'i'
    ' j'
    'k'
    ' l'
    'm '
    'n'; 
    }
    
}