*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    height: 100vh;
    gap: 5px;
    
    grid-template-columns: repeat(6,1fr);
    grid-template-areas:'e a a a c c'
    'f a a a d d'
    'g i b b k l'
    'h j b b m n' ;

}
.item{
    padding: 10px;
    font-size: 1.5rem;
    
    text-align: center;
    
}
.item-1{
    grid-area: a;
    background: linear-gradient(blue,green);
}
.item-2{
    grid-area: b;
    background: linear-gradient(red,green);
    
}.item-3{
    grid-area: c;
    background: linear-gradient(orange,grey);
    
}.item-4{
    grid-area:d ;
    background: linear-gradient(white,purple);
    
}.item-5{
    grid-area: e;
    background: linear-gradient(violet,green);
    
}.item-6{
    grid-area: f;
    background: linear-gradient(lightblue,lightpink);
   
}.item-7{
    grid-area: g;
    background: linear-gradient(brown,lightgrey);
    
}.item-8{
    grid-area: h;
    background: linear-gradient(pink,black);
   
}
.item-9{
    grid-area: i;
    background: linear-gradient(yellow,chartreuse);
}
.item-10{
    grid-area: j;
    background: linear-gradient(snow,springgreen);
}
.item-11{
    grid-area: k;
    background: linear-gradient(silver,slateblue);
}
.item-12{
    grid-area: l;
    background: linear-gradient(gold,silver);
}
.item-13{
    grid-area: m;
    background: linear-gradient(plum,palegreen);
}
.item-14{
    grid-area: n;
    background: linear-gradient(blue,aquamarine);
    background-color:p;
}


@media screen and (max-width: 600px){
    .grid-container{
        grid-template-columns: repeat(2,1fr);
    grid-template-areas:'a b '
    'c d'
    'e f'
    'g h'
    'i j'
    'k l'
    'm n'; 

    }
    
}
@media screen and (width <= 450px){
    .grid-container{
        grid-template-columns:repeat(1fr);
    grid-template-areas: 'a '
    'b '
    'c '
    'd'
    'e'
    ' f'
    'g'
    ' h'
    'i'
    ' j'
    'k'
    ' l'
    'm '
    'n'; 
    }
    
}